In [5]:
import pandas as pd

In [6]:
csv_input_name = 'transactions.csv'
csv_input_path = 'input-files/' + csv_input_name
csv_output_name = 'output.csv'
csv_output_path = 'output/' + csv_output_name
df = pd.read_csv( csv_input_path, sep=',' )
len_row, len_col = df.shape

In [10]:
df

,DATE,TRANSACTION ID,DESCRIPTION,QUANTITY,SYMBOL,PRICE,COMMISSION,AMOUNT,REG FEE,SHORT-TERM RDM FEE,FUND REDEMPTION FEE,DEFERRED SALES CHARGE
0,01/03/2022,3.983079e+10,REMOVAL OF OPTION DUE TO EXPIRATION (0MVIS.LV1...,1.0,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN
1,01/04/2022,3.988494e+10,Bought 2 CHPT Jan 7 2022 19.5 Put @ 0.73,2.0,CHPT Jan 7 2022 19.5 Put,0.73,1.30,-147.32,0.02,NaN,NaN,NaN
2,01/04/2022,3.988494e+10,Sold 2 CHPT Jan 14 2022 19.0 Put @ 0.85,2.0,CHPT Jan 14 2022 19.0 Put,0.85,1.30,168.68,0.02,NaN,NaN,NaN
3,01/04/2022,3.988512e+10,Bought 1 RBLX Jan 7 2022 91.0 Put @ 2.13,1.0,RBLX Jan 7 2022 91.0 Put,2.13,0.65,-213.66,0.01,NaN,NaN,NaN
4,01/04/2022,3.988512e+10,Sold 1 RBLX Jan 14 2022 88.0 Put @ 2.55,1.0,RBLX Jan 14 2022 88.0 Put,2.55,0.65,254.34,0.01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
559,10/24/2022,4.590146e+10,Sold 1 PYPL Oct 28 2022 87.0 Call @ 0.51,1.0,PYPL Oct 28 2022 87.0 Call,0.51,0.65,50.34,0.01,NaN,NaN,NaN
560,10/24/2022,4.590158e+10,Sold 3 CHPT Nov 4 2022 14.0 Call @ 0.16,3.0,CHPT Nov 4 2022 14.0 Call,0.16,1.95,46.01,0.04,NaN,NaN,NaN
561,10/24/2022,4.590163e+10,Sold 1 PYPL Oct 28 2022 75.0 Put @ 0.4,1.0,PYPL Oct 28 2022 75.0 Put,0.40,0.65,39.34,0.01,NaN,NaN,NaN
562,10/24/2022,4.590175e+10,Sold 2 CPNG Oct 28 2022 16.5 Call @ 0.11,2.0,CPNG Oct 28 2022 16.5 Call,0.11,1.30,20.68,0.02,NaN,NaN,NaN
563,***END OF FILE***,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN